/* Login css stuff */

.page-site-login{
    background-image: url('../images/login_bg.jpg');
    background-position: center;
    background-size: cover;
}
.site-login{
    text-align: center;
}
.site-logo{
    border-radius: 5px;
}
.site-login-form{
    float: none;
}

input:focus{
    color: rgba(4,53,64,0.9) !important;
    font-size: 1.5em !important;
}
input{
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center !important;
}
input::-webkit-input-placeholder, input:-moz-placeholder, input:-ms-input-placeholder, input::-moz-placeholder {  /* Firefox 19+ */
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center !important;
}



/* Main menu css stuff */
.page-site-index{
    background-image: url('../images/index_bg.jpg');
    background-position: center;
    background-size: cover;
}
#page_menu_content a {
    background-color: rgba(139,199,185,0.5);
    color: #fff9f4;
    position: relative;
    height: 20%;
    width: 45%;
    display: inline-block;
    margin-bottom: 1%;
    border: 2px solid #fff9f4;
}

#page_menu_content a:hover{
    background-color: rgba(4,53,64,1);
    color: #fff9f4;
}

#page_menu_content a:nth-child(odd){
    margin-right: 0.5%;
}

#page_menu_content a:nth-child(even){
    margin-left: 0.5%;
}

a p{
    font-size: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

a .special{
    width: 100%;
}

a p span{
    display: block !important;
}



.banner{
    text-align: center;
    height: 20vh;
}

.banner span{
    font-size: 5vw;
    position: relative;
    top: -15vh;
}

.banner span:nth-child(even){
    margin-right: 7.5vw;
}
.banner span:nth-child(odd){
    margin-left: 7.5vw;
}

#app_logo{
    width: 15vw;
    height: 15vh;
    background: url(../images/logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*display: inline-block;*/
    margin: auto;
}

#page_menu_content{
    text-align: center;
    height: 60vh;
}

p .info, p .info-separator{
    display: inline !important;
}

p .info-separator{
    margin-right: 2%;
    margin-left: 2%;
}
@media (max-width: 1000px) {
    p .info-separator{
        display: none !important;
    }
    p .info:last-of-type{
        display: none !important;
    }
}

@media (max-width: 801px) {
    .banner span{
        top: -10vh;
    }
}


/* INFORMATION */
.page-information-index{
    background-image: url('../images/information_bg.jpg');
    background-position: center;
    background-size: cover;
}
.container-cent{
    text-align: center;
}
.button-iterated:first-of-type{
    margin-top: 0px;
}
.button-iterated{
    width: 50vw;
    margin-top: 1vh;
}
.btn-info {
    background-color: rgba(139,199,185,0.5);
    color: #fff9f4;
    border: 2px solid #fff9f4;
    border-radius: 0;
}
.btn-info:hover {
    background-color: rgba(4,53,64,1);
    border: 2px solid #fff9f4;
    color: #fff9f4;
}
.div-itterated{
    background-color: rgba(4,53,64,1);
    width: 50vw;
    /* text-align: center; */
    border: 0.5px solid #fff9f4;
    border-top: 0px;
    margin: auto;
}

/* Shift */
.page-shift-index{
    background-image: url('../images/information_bg.jpg');
    background-position: center;
    background-size: cover;
}
.shift-index .container-cent{
    text-align: center;
}
.shift-index .container .btn:first-of-type{
    margin-top: none;
}
.shift-index .container-cent .button-iterated{
    width: 50vw;
    margin-top: 1vh;
}
.shift-index .container-cent .btn-info {
    background-color: rgba(4,53,64,1);
    color: #fff9f4;
    border: 2px solid #fff9f4;
    border-radius: 0;
    height: 150px;
    width: 60%;
}
.shift-index .container-cent .btn-info:hover {
    background-color: rgba(4,53,64,1);
    border: 2px solid #fff9f4;
    color: #fff9f4;
}
.shift-index .container-cent .div-itterated {
    background-color: rgba(4, 53, 64, 1);
    width: 60%;
    /* text-align: center; */
    border: 0.5px solid #fff9f4;
    border-top: 0px;
    margin: auto;
}
.shift-index .container-cent .btn-info .btn-info-supervisor{
    float: right;
    font-size: 1.8em;
}
.shift-index .container-cent .btn-info .btn-info-date{
    float: left;
    font-size: 2em;
}

.shift-index .container-cent .div-itterated .btn-i-accept {
    float: left;
    background-color: rgba(139,199,185,0.5);
}

.shift-index .container-cent .div-itterated .btn-i-decline {
    float: right;
    background-color: rgba(241, 136, 121, 0.9);
}

.btn-i {
    width: 50%;
    font-size: 1.5em;
}
.btn-i a{
    color: #fff9f4;
}